<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">    
  </head>
  <body style="background-image: url('/assets/background.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <%= render "shared/header" %>
    
    <main>
      <div class="container">
        <div class="subtitle">貴方の情報が誰かの命を救います</div>
        <p class="heading">会員登録すると目撃情報のあった地域に住んでいる方に通知が届きます</p>
        <div class='signup-button'><a href=''>会員登録</a></div>
      </div>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>

