footer {
  height: auto; /* 高さを内容に応じて自動調整 */
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0; /* 上下にパディングを追加 */
  box-sizing: border-box; /* パディングを含めた高さに */
  color: aliceblue;
}
