@charset "UTF-8";
/*====================
スマホを基本設計にする
 - 〜479px：スマートフォン縦
 - 480px〜599px：スマートフォン横
 - 600px〜959px：タブレット
 - 960px〜1279px：小型PC
 - 1280px〜：大型PC
====================*/

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  color: #24292e;
  font-family: "Sawarabi Gothic";
}

p {
  font-size: 1rem;
}

img {
  max-width: 100%; /* スマホサイズでも画像が縮小される。 */
}

li {
  list-style: none;
  font-size: 1.2rem;
}


body {
  background-color: #d3d3d3;
}